body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: "Poppins", sans-serif;
}

#nav-container {
    display: flex,
}

#nav-sectionL {
    flex-direction: row,
}

#nav-sectionR {
    flex-direction: row-reverse,
}