html,
body {
  background-color: #23393a;
  /* background-color: rgb(34, 34, 34); */
  color: cadetblue;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  display: block;
}

a:link {
  color: #f5faff;
}
a:visited {
  color: #f5faff;
}
a:hover {
  color: #f5faff;
}
a:active {
  color: rgb(252, 246, 198);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  position: fixed;
  display: flex;
  width: 100%;
  padding-top: 3.2em;
  padding-bottom: 1.2em;
  background-color: #23393a;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 3em 0 3em;
  position: relative;
}

.site-icon {
  margin-right: 5em;
}

.nav-list-L {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: visible;
}

.nav-item-L {
  display: inline-block;
  position: relative;
  margin-right: 3em;
  text-decoration: none;
  font-size: 18px;
}

.nav-item-L:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #c5f34d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item-L:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list-R {
  display: flex;
  flex-direction: row;
}

.nav-item-R {
  margin-left: 3em;
  text-decoration: none;
  font-size: 24px;
}

.nav-item-R:hover {
  color: #c5f34d;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 3em 7em 3em 7em;
  margin-top: 107px;
}

.intro-text-container {
  /* display: flex; */
  color: cadetblue;
  padding-right: 5em;
}

.intro-image-container {
  /* width: 16em;
  height: 22em; */
  opacity: 0.8;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 3.4em 7em 3em 7em;
}

.project-title {
  margin-bottom: 32px;
}

.project-link {
  margin-top: 46px;
  cursor: pointer;
  text-decoration: none;
}

/* .p-show span {
  position: absolute;
  visibility: hidden;
}

.p-show:hover,
.p-show:hover span {
  visibility: visible;
  top: 120px;
  z-index: 1;
} */

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 3.8em;
  /* padding-bottom: 3.2em; */
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #23393a;
}

.ftr-item {
  text-decoration: none;
  font-size: 18px;
  padding: 0 1.5em;
}

.ftr-item:hover {
  color: #c5f34d;
}
